.paginationBox{

}
.paginationBox ul{
    margin: 20px 0;
    display: flex;
}
.pageNumbers{
    width:45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s;
    /* border: 1px solid black; */
}
.pageNumbers:hover{
    border-radius: 50%;
    background-color: rgb(220, 220, 220);
}